<!DOCTYPE html>
<html ng-app="blog">
<head lang="en">
    <title>Angular Blog</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
    <link rel='stylesheet' href="style.css">
    <script type="text/javascript" src="angular.min.js"></script>
    <script type="text/javascript" src="angular-sanitize.min.js"></script>
    <script type="text/javascript" src="comment-box.js"></script>

    <script type="text/javascript" src="app.js"></script>
</head>
<body class="container" ng-controller="BlogController as blog">
<div class="product row" ng-repeat="product in blog.products">
        <h1>{{product.heading}}</h1>
        <h2>{{product.subHeading}}</h2>
        <div ng-bind-html=product.body></div>
        <img class="centered-image" ng-show='product.image.figure.length' ng-src="{{product.image.figure}}" alt={{product.image.alt}}" />
    <div ng-controller='CommentController as comments' class="comments">
        <a href ng-click="comments.toggleComments()">View Comments</a>
            <div ng-show="comments.commentsVisible(true)">
               <comment-box></comment-box>
            </div>
        </div>
    </div>
</body>
</html>