<!DOCTYPE html>
<html ng-app="blog">
<head lang="en">
    <title>Angular Blog</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
    <link rel='stylesheet' href="style.css">
    <script type="text/javascript" src="angular.min.js"></script>
    <script type="text/javascript" src="angular-sanitize.min.js"></script>

    <script type="text/javascript" src="app.js"></script>
</head>
<body class="container" ng-controller="BlogController as blog">
<div class="product row" ng-repeat="product in blog.products">
        <h1>{{product.heading}}</h1>
        <h2>{{product.subHeading}}</h2>
        <div ng-bind-html=product.body></div>
        <img class="centered-image" ng-show='product.image.figure.length' ng-src="{{product.image.figure}}" alt={{product.image.alt}}" />
    <div ng-controller='CommentController as comments' class="comments">
        <a href ng-click="comments.toggleComments()">View Comments</a>
            <div ng-show="comments.commentsVisible(true)">
                <blockquote ng-repeat="comment in product.comments">
                    <cite>Submitted By: {{comment.author}}</cite>
                    <p>{{comment.commentMessage}}</p>
                </blockquote>
                <form name="commentForm" ng-controller="CommentMessageController as commentMessageCtrl"
                        ng-submit="commentMessageCtrl.addComment(product)">
                    <blockquote>
                        <h4>Add Comment</h4>
                        <cite>Submitted By: {{commentMessageCtrl.comment.author}}</cite>
                        <p>{{commentMessageCtrl.comment.commentMessage}}</p>
                    </blockquote>
                    <div class="form-group">
                    <input ng-model='commentMessageCtrl.comment.author' class="form-control" type="text" placeholder="Enter Name" />
                    <textarea ng-model='commentMessageCtrl.comment.commentMessage' class="form-control" placeholder="Comment.."></textarea>
                    <input class="btn btn-default" type="submit" vaue="submit" />
                        </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>